<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
        }

        li a {
            position: relative;
            display: block;
            text-transform: uppercase;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #555;
            color: white;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                <ul>
                    <li><a href="#home">@Html.ActionLink("Northwind·Dash", "Index", "Home")</a></li>
                    <li><a href="#home">@Html.ActionLink("Regional sales status", "Index", "RegionalSalesStatus")</a></li>
                    <li><a href="#home">@Html.ActionLink("Products & Orders", "Index", "ProductsAndOrders")</a></li>
                    <li><a href="#home">@Html.ActionLink("Team Efficiency", "Index", "TeamEfficiency")</a></li>
                    <li><a href="#About">@Html.ActionLink("About", "Index", "About")</a></li>
                </ul>
            </td>

            <td>
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - [NS] My First ASP.NET Application</p>
                    </footer>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>
